.bg-img{
    background-image: url(images/bg-img-nature.jpg);
    background-size: 100%;
    background-blend-mode: normal;
}
.profile-pic{
    width:300px;
    margin-left: auto;
    border-radius: 100%;
}
.container-fluid{
background-color: blanchedalmond;
text-align: center;
}
.carousel-item{
    
}
.gal-img{
    height: 400px;
}
.Gallery-section{
    text-align: center;
    background-color: burlywood;
    padding-top: 20px;
}
h2{
    font-family: 'Source Code Pro', monospace;
    font-size: xx-large;
}
h3{
    font-family: 'Libre Baskerville', serif;
}
p{
    font-family: 'Dancing Script', cursive;
    font-size: xx-large;
}
#Activities{
    padding-top: 20px;
    padding-bottom: 20px;
}
.btn{
    margin-top: 10px;
    margin-bottom: 5px;
}
.act-img{
    margin:5px;
}
